.cont {
  margin: 20px auto;
  width: 90vw;
  max-width: 750px;
}
.head {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.searchDelCont {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  gap: 10px;

  &__delete {
    font-size: 1.2rem !important;
    line-height: 1.6rem !important;
    flex-shrink: 0;
  }
}
.table {
  font-size: 1.6rem;
  margin: auto;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid darkgray;
    // padding: 5px 0;
  }

  td {
    text-align: center;
    line-height: 40px;
  }
  th {
    line-height: 45px;
  }
  td:first-child,
  th:first-child {
    width: 50px;
  }
  td:nth-child(5n + 2),
  th:nth-child(5n + 2) {
    width: 200px;
  }
  td:nth-child(3n),
  th:nth-child(3n) {
    width: 300px;
  }
  td:nth-child(4n),
  th:nth-child(4n) {
    width: 100px;
  }
  td:last-child,
  th:last-child {
    width: 100px;
  }
}

@media screen and (max-width: 750px) {
  .tableCont {
    height: 497px;
    width: 750px;
  }
}
